certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cloudinary==1.13.0
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.1.1
django-dropbox-upload-handler==0.1.1
dropbox==9.0.0
html5lib==1.0.1
idna==2.7
mock==2.0.0
pbr==4.2.0
pdfrw==0.4
Pillow==6.2.0
pycparser==2.19
PyPDF2==1.26.0
Pyphen==0.9.5
pytz==2018.5
reportlab==3.5.8
requests==2.19.1
six==1.11.0
tinycss2==0.6.1
urllib3==1.23
webencodings==0.5.1
xhtml2pdf==0.2.3
